@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-track{
  background-color: #000;
}
::-webkit-scrollbar-thumb{
  background: #f72d74;
}



.shadow:hover{
  box-shadow: 4px 4px 15px #f62c7326
}
.shadow-2:hover{
  box-shadow: 4px 4px 15px #6e203b26

}
.bottom-top:hover{
  box-shadow: 2px 0px 51px -22px #f72d74;}

/* Slider styles */


/* Animation for the slider */


.btn{
  height: 30px;
  width: 25px;
  accent-color:#616fed;
  border: none;
  
}

.carousel .control-arrow {
  display: none !important; /* Ensures arrows are not visible */
}


.box{
  box-shadow: 20px 10px 15px -3px rgb(222,222,222);
}

@media  (max-width: 575px){
  .input{
    grid-column-start: span 2;
    grid-column-end: span 2;
  }
}

.box-shadow{
  box-shadow: 0px 0px 8px 5px rgba(17,17,17,0.15)


}

.my-vertical-slider {
  max-width: 200px; /* Set the width of the slider */
  margin: 0 auto;   /* Center the slider */
}

.my-vertical-slider .splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.top{
  -webkit-box-shadow: 0px -8px 16px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -8px 16px -7px rgba(0,0,0,0.75);
box-shadow: 0px -8px 16px -7px rgba(0,0,0,0.75);
}